@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Pretendard-Regular";
  overflow-x: hidden;
}

main {
  width: 100%;
  overflow: hidden;
}

section {
  width: 100vw;
  height: 100vh;
}

video {
  object-fit: cover;
}
ul {
  list-style: none;
}
.nav-bar li {
  margin-right: 30px;
  cursor: pointer;
}

.nav-bar li > img {
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 970px) {
  .frameBox {
    background-color: pink !important;
    display: none !important;
  }
  .swiper-container {
    display: block !important;
  }
  .photoFrameContainer {
    padding: 0 !important;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    display: none !important;
  }
  .nav-bar li {
    color: pink;
    display: none !important;
  }
  .videoTitle {
    font-size: 1.5rem !important;
  }
  /* .newsBox {
    display: block !important;
  } */
  .spaceTitle {
    display: none !important;
  }
  .hidden {
    display: none !important;
  }

  .block {
    display: block !important;
  }
}

.frameBox {
  position: absolute;
  background: linear-gradient(180deg, #fff 0%, #ffffff 100%);
  box-shadow: 0px 14px 27.3px 10px #6b5d4f;
  width: calc(90vw - 180px);
  height: 80vh;
  z-index: 0;
}

.frame-nav-bar li:hover {
  border-bottom: 4px solid black;
}

.fcloud01 {
  top: 100px;
  z-index: 100;
  animation: drift2 12s linear infinite;
}

.fcloud02 {
  top: 180px;
  z-index: 500;
  animation: drift 12s linear infinite;
}

.fcloud03 {
  animation: drift3 8s linear infinite;
}

.fcloud04 {
  animation: drift4 12s linear infinite;
}

.mediaContainer {
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mediaContainer:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.newsComponent {
  cursor: pointer;
  display: grid;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /* width: 18vw;
  height: 35vh; */
  border-radius: 10px;
  margin-top: 20px;
  background: #f9f9fa;
  padding: 0 0.1rem 1rem 0.1rem;
}
.newsComponent:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes drift2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes drift3 {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(-110px);
  }
}

@keyframes drift4 {
  from {
    transform: translateX(-110px);
  }
  to {
    transform: translateX(1000px);
  }
}
