.footer {
  width: 100%;
  height: 20vh;
  background: var(--grayscale-b-90, #393a3c);
  font-size: 1.4rem;
  line-height: 1rem;
  color: #fff;
}

footer .logo {
  width: 15.8rem;
  margin-bottom: 6rem;
}

.wrap {
  display: flex;
  gap: 8rem;
  padding: 2rem;
}

.footer_info_wrap {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}

.footer_info {
  gap: 8rem;
  margin-bottom: 2rem;
  display: flex;
  text-align: center;
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: center;
}

.footer_info div {
  line-height: 28px;
  font-size: 1.2rem;
}

.footer_sns {
  display: flex;
}

.footer_sns img {
  width: 3rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.footer_address {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  width: 100%;
  font-size: 0.8rem;
  line-height: 0.5rem;
}

@media screen and (max-width: 960px) {
  .footer_info {
    gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
  footer .wrap {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  footer .logo {
    width: 16.8rem;
    margin-bottom: 2rem;
  }

  .footer_info_wrap {
    flex-direction: column;
  }

  .footer_info {
    flex-direction: column;
    gap: 1rem;
  }

  .footer_sns {
    margin-bottom: 2rem;
  }

  .footer_sns img {
    margin-left: 0;
    margin-right: 1.5rem;
  }
}
